@import 'vars';
@import 'mixins';
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato',sans-serif;
}
a{
    text-decoration: none;
}
.header{
    border: 1px solid #000;
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc($widthSite - 23%);
    
    &_left{
        @include centerAlign();
        gap: 41px;
    }
    &_right{
        @include centerAlign();
        gap: 33px;
    }
}
.center{
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}
.head_product_center{
    padding-left: calc(50% - $widthSite / 3);
    gap: 16px;
    @include centerAlignJustify();
}
.top_head{
    background: #f1e4e6;
    display:flex;
    &_preview{
        display: block;
        margin-left: 0;
        color: $ColorSelectSite;
    }
}
.rectangle{
    width: 12px;
    height: 92px;
    background-color:$ColorSelectSite;
}
.head_link{
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 47px;
    color: $backBlock;
    &_black{
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;    
    }
    &_pink{
        color: $ColorSelectSite;
    }
}
.product_head{
    @include centerAlignJustify();
    margin-bottom: 48px;
    &_name{
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: $backBlock;
    }
    &_text{
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
}
.product-box{
    @include centerflex();
}
.product{
    width: $thirdSite;
    display: flex;
    flex-direction: column;
    &_img{
        width: 100%;
    }
    &_content{
        padding: 24px 16px;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &_name{
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }
    &_price{
        color: $ColorSelectSite;
    }
    &_text{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5d5d5d;}
}
.offer{
    margin-top: 65px;
    margin-bottom: 30px;
    @include centerOfferFlex();
    &_box{
        @include offerBox();
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_text{
        font-style: normal;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFF;
    }
    &_group{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $ColorSelectSite;
    }
    &_resize_img{
        height: auto; 
        width: auto; 
        max-width: $widthSite; 
    }
}
.bottom_offer{
    @include centerAlignJustify();
    width: $widthSite+$gapGrid;
    height: 130px;
    background-size:cover;
    margin-bottom: 96px;
}
.services{
    display: flex;
    width: 100%;
    height: 341px;
    background-color: $backBlock;
}
.subscribe{
    display: flex;
    width: 100%;
    height: 448px;
    background: url("img/subscribe.png") center center no-repeat;
    background-size: cover;
}
.position_button{
    @include centerAlignJustify();
}
.all_product{
    @include centerAlignJustify();
    background: #FFF;
    border: 2px solid $ColorSelectSite;
    margin-top: 48px;
    margin-bottom: 95px;
    width: 212px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color:$ColorSelectSite;
}

.services{
    gap: $gapGrid;
    @include centerAlign();
    flex-direction: row;
    &_box{
        width: $thirdSite;
        img {
            height: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 28px;
        }
    }
    &_name{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #fbfbfb;
        text-align: center;
        margin-bottom: 16px;
    }
    &_text{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #fbfbfb;
        display: block;
        text-align: center;
        color: rgba(255, 255, 255,.7);
    }
}
.subscribe{
    width: $widthSite;
    gap: $thirdSite;
    @include centerAlignJustify();
    &_intersect{
        &_text{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #222224;
            text-align: center;
            margin-top: 30px;
        }
        img{
            position: relative;
            left: 50%;
            transform: translateX(-50%);   
        }
    }
    &_form{
        text-align: center;
        &_text{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #222224;
            margin-bottom: 32px;
        }
        &_name{
            font-style:normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            color: #222224;
        }
        &_btn{
            width: 100px;
            height: 49px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border: none;
            background: $ColorSelectSite;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #fff;

        }
    }
    &_field{
        @include centerAlign();
        flex-direction: row;
    }

}
form input{
    width: 256px;
    height: 49px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background: #e1e1e1;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5e5e5f;
    padding-left: 22px;
}
footer{
    width: $widthSite;
    background-color: $backBlock;
    height: 79px;
    @include centerAlign();
    justify-content:space-between;
}
.info{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #fbfbfb;
   display: flex;
   padding-top: 30px;
   padding-bottom: 30px;

}
.connection{
    @include centerAlign();
    flex-direction: row;


    &_box{
        width: 32px;
        height: 32px;
        display: block;
        background: #FFF;
        margin-right: 7px;
        @include centerAlignJustify();
    }
}

