@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: "latoregular";
}

a {
  text-decoration: none;
}

.top {
  overflow: hidden;
}

.header {
  border: 1px solid #000;
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header svg:hover path {
  fill: #f16d7f;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

#check {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#check:checked ~ .menu {
  right: 0;
}

.menu {
  top: 83px;
  z-index: 11;
  right: -232px;
  position: absolute;
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: right 0.4s;
}
.menu__ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 20px;
  list-style-type: none;
}
.menu__heading {
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #000;
}
.menu__subheading {
  padding-top: 24px;
  padding-bottom: 12px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #f16d7f;
}
.menu__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
}
.menu__link:hover {
  color: #f16d7f;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.head_product_center {
  padding-left: calc(50% - 380px);
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top__head {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #F8F3F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__head_title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrums {
  display: flex;
  flex-direction: row;
}
.breadcrums_link {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
}
.breadcrums_link:hover {
  color: #f16d7f;
}
.breadcrums_box:last-of-type .breadcrums_link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}
.breadcrums_box:not(:last-child)::after {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
  padding-left: 8px;
  padding-right: 8px;
  content: "/";
}

.preview {
  width: 100%;
  height: 776px;
  background: #F7F7F7;
  padding-top: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}
.preview_arrow {
  width: 47px;
  height: 47px;
  background: rgba(162, 162, 162, 0.2392156863);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview_arrow:hover path {
  fill: #f16d7f;
}

.filter {
  padding-top: 13px;
  width: 340px;
  position: relative;
  z-index: 10;
}
.filter_content {
  background-color: #fff;
  padding-top: 0px 16px 16px 16px;
}
.filter[open] {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
}
.filter[open] .filter_heading {
  color: #f16d7f;
}
.filter[open] path {
  fill: #f16d7f;
}
.filter_sort {
  display: flex;
  height: 132px;
  position: relative;
  box-sizing: border-box;
  gap: 30px;
  padding-top: 39px;
}
.filter_summary {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 16px;
}
.filter_summary_heading {
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #000;
}
.filter_item {
  margin-top: 16px;
  padding-left: 17px;
}
.filter_item[open] .filter_head {
  color: #f16d7f;
}
.filter_head {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #f16d7f;
}
.filter_link_box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter_link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
}
.filter_link:hover {
  color: #f16d7f;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort_details {
  position: relative;
}
.sort_summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort_heading {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
}
.sort_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: -9px;
  top: 22px;
  background-color: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  padding: 7px 30px 11px 9px;
}
.sort_check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #6F6E6E;
}

.select_product {
  width: 1170px;
  height: 601px;
  background: #FFF;
  border: 1px solid #EAEAEA;
  position: relative;
  margin-top: -64px;
  margin-bottom: 129px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.select_product_box {
  width: 642px;
  height: 260px;
  border-bottom: 1px solid #EAEAEA;
}
.select_product_sort {
  width: 642px;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: center;
  justify-content: center;
}

.collection_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.collection_heading {
  font-style: initial;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #f16d7f;
}
.collection_line {
  width: 63px;
  border-bottom: 3px solid #f16d7f;
  position: relative;
  align-items: center;
}
.collection_name {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 48px;
  text-align: center;
  color: #5e5e5e;
}
.collection_text {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 32px;
  text-align: center;
  color: #5e5e5e;
}
.collection_price {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #f16d7f;
  text-align: center;
}
.collection_btn {
  display: flex;
  align-items: center;
}
.collection_btn img {
  padding-left: 24px;
  padding-right: 23px;
  background: #FFF;
  border: 2px solid #f16d7f;
  width: 212px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.rectangle {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}

.head_link {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 47px;
  color: #222;
}
.head_link_black {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.head_link_pink {
  color: #f16d7f;
}

.product_head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}
.product_head_name {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222;
}
.product_head_text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  width: 370px;
  gap: 30px;
}

.product {
  width: 370px;
  display: flex;
  flex-direction: column;
}
.product_img {
  width: 100%;
}
.product_content {
  padding: 24px 16px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product_name {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product_price {
  color: #f16d7f;
}
.product_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.subscribe {
  display: flex;
  height: 448px;
  background: url("img/subscribe.png") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe {
  width: 1140px;
  gap: 370px;
}
.subscribe__intersect img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.subscribe__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
  margin-top: 30px;
}
.subscribe__text_select {
  font-style: italic;
}
.subscribe__form {
  text-align: center;
  text-align-background-color: #f0364f;
}
.subscribe__form_name {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222224;
}
.subscribe__form_text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222224;
  margin-bottom: 32px;
}
.subscribe__adress {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.subscribe__adress_form {
  width: 256px;
  height: 49px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  background: #e1e1e1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5f;
  padding-left: 22px;
}
.subscribe__adress_button {
  width: 100px;
  height: 49px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background: #f16d7f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff;
}
.subscribe__adress_button:hover {
  background-color: #f0364f;
}

.footer {
  bottom: 0;
  width: 1140px;
  background-color: #222;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fbfbfb;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__connection {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer__connection_box {
  width: 32px;
  height: 32px;
  display: block;
  background: #FFF;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__connection_box:hover {
  background-color: #f16d7f;
}
.footer__connection_box:hover path {
  fill: #FFF;
}

.fild {
  padding-top: 96px;
  display: flex;
  flex-direction: row;
  gap: 128px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 128px;
}
.card img {
  width: 262px;
  height: 306px;
}
.card_content {
  padding-top: 22px;
  padding-left: 31px;
}
.card_purchases {
  display: flex;
  flex-direction: row;
  width: 652px;
  height: 306px;
  background: #FFFFFF;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
}
.card_head {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #222;
  padding-bottom: 42px;
}
.card_text {
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  color: #575757;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.card_text span {
  color: #f16d7f;
}
.card_text_quantity {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.card_text_count {
  width: 44px;
  height: 25px;
  border: 1px solid #eaeaea;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5f;
}
.card_button {
  width: 652px;
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_button_check {
  width: 235px;
  height: 50px;
  border: 1px solid #a4a4a4;
  background: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  color: #000;
}
.card_button_check:hover {
  background-color: #f16d7f;
  color: #FFF;
  border: none;
}
.card_close {
  z-index: 20;
  position: relative;
  left: 128px;
  top: 28px;
}
.card_close:hover path {
  fill: #f16d7f;
}

.user_forms {
  display: flex;
  flex-direction: column;
  gap: 55px;
  width: 360px;
}
.user_forms_adress {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.user_forms_head {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #222222;
}
.user_forms_text {
  width: 100%;
  height: 45px;
  border: 1px solid #a4a4a4;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;
  padding-left: 17px;
}
.user_forms_get {
  width: 101px;
  height: 35px;
  border: 1px solid #a4a4a4;
  background: #FFFFFF;
}
.user_forms_get:hover {
  background-color: #f16d7f;
  color: #FFF;
  border: none;
}
.user_forms_checkout {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 17px;
  width: 380px;
  height: 214px;
  background: #F5f3f3;
}
.user_forms_checkout_box {
  padding-top: 39px;
  right: 34px;
  width: 275px;
  border-bottom: 1px solid #e2e2e2;
}
.user_forms_checkout_sub {
  padding-bottom: 12px;
  font-style: normal;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #4a4a4a;
  text-align: right;
}
.user_forms_checkout_sub span {
  padding-left: 20px;
}
.user_forms_checkout_grand {
  padding-bottom: 21px;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #4a4a4a;
  text-align: right;
}
.user_forms_checkout_grand span {
  color: #f16d7f;
  padding-left: 20px;
}
.user_forms_checkout_check {
  width: 253px;
  height: 50px;
  background: #f16d7f;
  border: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
}
.user_forms_checkout_check:hover {
  background-color: #f0364f;
}

.registration-form {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration-form__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration-form__head {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #222;
}
.registration-form__input {
  width: 360px;
  height: 45px;
  border: 1px solid #a4a4a4;
  padding-left: 17px;
}
.registration-form__gender {
  display: flex;
  align-items: center;
  margin-top: 11px;
  margin-botton: 11px;
}
.registration-form__gender_head {
  font-style: normal;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #000;
  padding-left: 10px;
  padding-right: 20px;
}
.registration-form__text {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #B1B1B1;
}
.registration-form__button {
  width: 167px;
  height: 50px;
  margin-top: 19px;
  border: none;
  background: #f16d7f;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #fff;
}
.registration-form__button_arrow {
  padding-left: 20px;
}
.registration-form__button:hover {
  background-color: #f0364f;
}
.registration-form__info_text {
  width: 652px;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #000;
  padding-bottom: 21px;
}
.registration-form__info_ul {
  list-style: none;
}
.registration-form__info_ul li:before {
  content: "✔";
}
.registration-form__info_li {
  display: flex;
  gap: 23px;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #000;
  padding-bottom: 16px;
}/*# sourceMappingURL=style.css.map */